.site-info-block{

  .site-link{
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
    color: #7700FF;
  }

  .site-excerpt{
    margin-top: 0;
    font-size: 18px;
    color: #999999;
    margin-bottom: 20px;
  }
}